<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./vxe-table@legacy.css">

</head>

<body>
  <div id="app" >

    <div style="height:100px;overflow: auto;">
      <yq-form v-model="form" ref="yqform" v-bind="vForm" @submit="submit"
      style="width:600px;box-shadow: 0 0 3px #808080">
      <template #switch111="{field,item:{slots}}">
        <vxe-input v-model="form[field]" v-bind="slots.props" @input="slots.events.input"></vxe-input>
      </template>
      <template #myregion>myregion</template>
    </yq-form>
    </div>
  
  </div>
  <!-- 引入vue -->
  <script src="./vue.js"></script>
  <!-- 引入组件 -->
  <script src="./untils/deepClone.js"></script>
  <script src="./xe-utils.js"></script>
  <script src="./vxe-table@legacy.js"></script>
  <script src="./yqform.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data() {
        return {
          form: {
           
          },
          // 表单配置
          vForm: {
            items: [
              {
                  title:"输入框",
                  field:"input",
                  render:{
                    type:'input',
                    props:{
                      type:'input',
                      maxlength:5
                    }
                  },
                  required: true,
              },
              {
                title: '开始时间',
                field: 'startTime',
                required: true,
                span:12,
                render: {
                  type: 'input',
                  props: {
                    type: 'datetime',
                  },
                  events: {
                    change: ({value}) => {
                      if (new Date(value) >= new Date(this.form.endTime)) {
                        this.$set(this.form, 'endTime', value)
                      }
                    }
                  }
                },
               
              },
              {
                title: '结束时间',
                field: 'endTime',
                span:12,
                required: true,
                render: {
                  type: 'input',
                  props: {
                    type: 'datetime',
                    disabledMethod: ({ date, viewType }) => {
                      return new Date(date).getTime() < new Date(this.form.startTime).getTime()
                    }
                  },
                }
              },
              {
                title: '自定义组件switch',
                field: 'divSwitch',
                render: {
                  type: 'switch',
                }
              },
              {
                align: 'center', span: 24, 
                render: {
                  type: 'buttons', 
                  props: {
                    options: [{ type: 'submit', content: '提交', status: 'primary' }, { type: 'reset', content: '重置' }]
                  }
                }
              },
            ],
          }
        }
      },
      created() {
          const form = {
            divSwitch: true
          }
          this.form = deepClone(form);
      },
      watch: {
      },
      methods: {
        submit(form,done) {
          console.log(form);
          setTimeout(() => {
            done()
          }, 1000);
        }
      },

    })
  </script>
</body>

</html>